<header class="bg-transparent">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div
      class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div class="flex justify-center items-center">
        <div class="relative">
          <img
            class="w-20"
            src="https://attic.sh/y1io7k5xikxyow67bvibrc3uri8t"
            alt="Yoda image" />
          <button
            class="rules-dialog-button !absolute bottom-[-.4rem] left-[-.3rem] scale-75"
            mat-mini-fab
            (click)="displayRulesDialog()">
            <mat-icon>info_outline</mat-icon>
          </button>
        </div>
        <div class="flex flex-col ml-4">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
            Star Wars Game
          </h1>

          <p class="mt-1.5 text-sm text-gray-500">May the Force be with you!</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <button
          class="play-game-button"
          mat-fab
          extended
          (click)="playGame()"
          [disabled]="isLoading">
          @if (isFirstGame) {
          <mat-icon>arrow_right</mat-icon>
          <span>Play game</span>
          } @else {
          <mat-icon [ngClass]="{ 'animate-spin': isLoading }">refresh</mat-icon>
          <span>Play again</span>
          }
        </button>
        <mat-slide-toggle [(ngModel)]="rollUntilSuccess"
          >Roll until success</mat-slide-toggle
        >
        <mat-form-field class="play-against-form-input">
          <mat-label>Play againt</mat-label>
          <mat-select [formControl]="resourceKindControl">
            @for (resourceKind of resourceKinds; track resourceKind) {
            <mat-option [value]="resourceKind.value">{{
              resourceKind.label
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</header>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 p-12">
  @if (entityList) { @for (entity of entityList; track $index) {
  <div class="rounded-lg bg-gray-100">
    <app-game-card
      [ngClass]="
        getBattleResultClass(entity?.battleResult, gamePlayers[$index])
      "
      [entity]="entity"
      [isFirstGame]="isFirstGame"
      [playerModel]="gamePlayers[$index]" />
  </div>
  } }
</div>
