<h2 mat-dialog-title>Rules of game</h2>
<mat-dialog-content class="mat-typography">
  <h3>There are several rules of this star-wars card game</h3>
  <ol class="list-decimal ml-8 mt-4">
    <li>The goal of the game is simple - the stronger card wins</li>
    <li>There are only two players represented by left and right side</li>
    <li>
      The cards are compared on the basis of a common attribute - these are
      numbers, but also strings
    </li>
    <li>
      Icons: 🏆, 👎, 🏳 are indicating, how many wins/losts/ties player has
    </li>
    <li>
      The overall winner is determined by the balance of wins and draws - one
      win is three points, while a draw is one point
    </li>
    <li>Overall winner has yellow background</li>
    <!-- ... -->
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    class="!rounded-lg close-rule-dialog"
    color="primary"
    mat-flat-button
    mat-dialog-close>
    Understand!
  </button>
</mat-dialog-actions>
